@page 
    {
        size:  auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }

    html
    {
        background-color: #FFFFFF; 
        margin: 30px;  /* this affects the margin on the html before sending to printer */
    }

.titulo{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.img-header{
    text-align: right;
}
p{
    font-size: 20px;
}
.chart{
    width: 650px;
    height: 300px;
}